<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <a href="/about"><li> About</li></a>
      <a href="/work"><li>Games</li></a>
      <a href="/galery"><li>Galery</li></a>
      <a href="/home"><li>Home</li></a>
    </ul>
  </nav>
  <section class="structure">
    <div class="image">
      <img src="./images/bigboss-about.jpg" alt="BigBoss">
    </div>
    <div class="about">
        <h2>Information</h2>
        <ul class="information"></ul>
        <li><b>Name:</b> John</li>
        <li><b>Last name:</b> unknow</li>

        <li><b>Alias:</b> </li>
          Big Boss <br>
          Naked Snake <br>
          Jack <br>
         <li><b>Born:</b>1935</li>
         <li><b>Country:</b>USA</li>

    </div>
  </section>
</body>
</html>