<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="stylesheets/work.css">
</head>
<body>
    <div class="navbar-div">
        <nav class="navbar">
          <ul class="navbar-list">
            <a href="/about"><li> About</li></a>
            <a href="/work"><li>Games</li></a>
            <a href="/galery"><li>Galery</li></a>
            <a href="/home"><li>Home</li></a>
          </ul>
        </nav>
      </div>
    
</body>
</html>