<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="stylesheets/work.css">
</head>
<body>
    <div class="navbar-div">
        <nav class="navbar">
          <ul class="navbar-list">
            <a href="/about"><li> About</li></a>
            <a href="/work"><li>Games</li></a>
            <a href="/galery"><li>Galery</li></a>
            <a href="/home"><li>Home</li></a>
          </ul>
        </nav>
      </div>
      
      <div>
        <h1>Jogos que participou</h1>
      </div>

      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Game</th>
            <th scope="col">Participation</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Metal Gear</th>
            <td>Villain</td>
            
          </tr>
          <tr>
            <th scope="row">Metal Gear 2: Solid Snake</th>
            <td>Villain</td>
            
          </tr>
          <tr>
            <th scope="row">Metal Gear Solid 3: Snake Eater</th>
            <td colspan="2">Main character</td>
            
          </tr>
          <tr>
            <th scope="row">Metal Gear Solid 4: Guns of the Patriots </th>
            <td>Villain</td>
          </tr>

          <tr>
            <th scope="row"> Metal Gear Solid V: Ground Zeroes </th>
            <td>Main character</td>
          </tr>

          <tr>
            <th scope="row">  Metal Gear Solid V: The Phantom Pain </th>
            <td>Special participation &#128545;</td>
          </tr>

        </tbody>
      </table>
    
</body>
</html>